.overview {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: var(--line);

    @include respond(extra-small) {
        flex-wrap: wrap;
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @include respond(small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }

        @include respond(extra-small) {
            order: 1;
            flex: 0 0 60%;
        }
    }

    &__stars {
        display: flex;

        @include respond(extra-small) {
            order: 3;
            margin-left: 2rem;
        }
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        margin-left: auto;
        font-size: 1.2rem;
        display: flex;
        align-items: center;

        @include respond(extra-small) {
            order: 2;
        }
    }

    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: var(--color-white);
        padding: 0 2rem;
        align-self: stretch;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @include respond(small) {
            padding: 0 1.5rem;
        }

        @include respond(extra-small) {
            order: 4;
            margin-left: auto;
        }

        &-avg {
            font-size: 2.25rem;
            margin-bottom: -3px;

            @include respond(small) {
                font-size: 1.8rem;
            }
        }

        &-count {
            font-size: 1rem;

            @include respond(small) {
                font-size: 0.8rem;
            }
        }
    }
}
