.hotel-view {
    background-color: var(--color-white);
    flex: 1;
}

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
}

.paragraph {
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-flow: row wrap;

    &__item {
        flex: 0 0 50%;

        // display: flex;

        &::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: 0.7rem;

            background-image: url(../img/chevron-thin-right.svg);
            background-size: cover;

            @supports (-webkit-mask-image: url(../img/chevron-thin-right.svg)) or
                (mask-image: url(../img/chevron-thin-right.svg)) {
                background: none;
                background-color: var(--color-primary);

                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../img/chevron-thin-right.svg);
                mask-size: cover;
            }
        }
    }
}

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
        flex-flow: row nowrap;
    }

    &__photo {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white);
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
}
